{% extends "base.html" %}

{% block content %}
<div class="container">
    <div>
    <a href="/">Return to home</a>
    <button id="getparams">get parameters</button>
    <button id="merge">get merge</button>
    </div>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button type="submit">Upload</button>
    </form>

          {% if text %}
          {% autoescape off %}
            <p>{{ text|linebreaks }}</p>
          {% endautoescape %}
          {% endif %}

    <div>
    <p>Taken from wikpedia</p>
        <img src="data:image/png;base64, {{base64}}" alt="Red dot" />
    </div>

</div>
{% endblock %}



