{% extends "ocr/base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <h4 style="padding: 3rem"> טופס העלאת תמונות של מראות ופסיקה ראשונית</h4>
    <form action="" method="post" enctype="multipart/form-data" id="image_form">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input type="file" name="image">-->
    <input type="submit" value="שלח" id="submit_image">
    <div id="errors">
    {{ form.name.errors }}
    {{ form.non_field_errors}}
    </div>
    </form>
    <br>
<!--    <button onclick="$.get('http://127.0.0.1:8000/ocr/test_sms/');">שלח סמס</button>-->
    <button onclick="$.get('http://www.toracomments.com/ocr/test_sms/');">סמס בדיקה (לאחר שהועלתה תמונה)</button>

    <h4>קישור ל<a href="{% url 'TaharaImageListView' %}">מראות שנשמרו</a></h4>

    <h4>הוראות</h4>
    <p>שלב ראשון: מעלים את תמונת המראה יחד עם פסיקה ראשונית על המראה הפיסי, בתוספת פרטים נוספים על תנאי הצילום של המראה</p>
    <p>דוגמא של תמונה טובה כיוון שאין בה שוליים מעבר לדף הלבן ויש בה פקק אדום:</p>
    <img src="{% static 'main/images/example1.jpg' %}" alt="My image" height="60%" width="60%">
    <p>דוגמא של תמונה לא טובה כיוון שיש בה שוליים מעבר לדף הלבן:</p>
    <img src="{% static 'main/images/example2.jpg' %}" alt="My image" height="60%" width="60%">
    <p>שלב שני: יש מס' ימים מוגדר מראש של הפסקה בין הפסיקה הראשונה לבין הפסיקה השניה על התמונה</p>
    <p>שלב שלישי: נשלח סמס לפסיקה על העדים לפי תמונה</p>
    <p>דוגמא של סמס שאמורים לקבל לאחר זמן:</p>
    <img src="{% static 'main/images/sms.jpeg' %}" alt="My image" height="50%" width="50%">
    <p>שלב רביעי: שולחים סמס בחזרה עם מספר שמקביל לפסק מסויים ופוסקים שוב דרך המסך</p>
    <!--    <ul>-->
<!--    {% for comment in object_list %}-->
<!--        <li>{{ comment.updated_at|date }} - {{ comment.comment }}</li>-->
<!--    {% empty %}-->
<!--        <li>No articles yet.</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
</div>
{% endblock %}