{% extends "ocr/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h4>הוראות</h4>
    <p>שלב ראשון: מעלים את תמונת המראה יחד עם פסיקה ראשונית על המראה הפיסי, בתוספת פרטים נוספים על תנאי הצילום של המראה</p>
    <p>שלב שני: יש מס' ימים מוגדר מראש של הפסקה בין הפסיקה הראשונה לבין הפסיקה השניה על התמונה</p>
    <p>שלב שלישי: נשלח סמס לפסיקה על העדים לפי תמונה</p>
    <img src="{% static 'ocr/images/sms.jpg' %}" alt="My image" width="200" height="300">
    <p>שלב רביעי: כל רב נכנס לאתר לרשימת המראות שהוא פסק עליהם ופוסק עליהם שוב דרך המסך</p>
    <h4 style="padding: 3rem"> טופס העלאת תמונות של מראות ופסיקה ראשונית</h4>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
<!--        <input type="file" name="image">-->
    <input type="submit" value="שלח">
    <div id="errors">
    {{ form.name.errors }}
    {{ form.non_field_errors}}
    </div>
    </form>
    <br>
<!--    <button onclick="$.get('http://127.0.0.1:8000/ocr/test_sms/');">שלח סמס</button>-->
    <button onclick="$.get('http://www.toracomments.com/ocr/test_sms/');">סמס בדיקה (לאחר שהועלתה תמונה)</button>

    <h4>לפסיקה על מראות שכבר עלו לאתר לחץ: ל<a href="{% url 'TaharaImageListView' %}">מראות שנשמרו</a></h4>
<!--    <ul>-->
<!--    {% for comment in object_list %}-->
<!--        <li>{{ comment.updated_at|date }} - {{ comment.comment }}</li>-->
<!--    {% empty %}-->
<!--        <li>No articles yet.</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
</div>
{% endblock %}