{% extends "ocr/base.html" %}

{% block content %}
<div class="container">
    <h4>שלום וברוכים הבאים למחקר מראות דרך מסך</h4>
    <p>להלן הסבר קצר לגבי המחקר ושלביו</p>
    <p></p>
    <p>שלב ראשון: מצלמים את המראה ומעלים לאתר הזה יחד עם פסיקה ראשונית על המראה הפיסי, בתוספת פרטים נוספים על תנאי הצילום של המראה</p>
    <p>שלב שני: יש מס' ימים מוגדר מראש של הפסקה בין הפסיקה הראשונה לבין הפסיקה השניה על התמונה</p>
    <p>שלב שלישי: נשלח סמס עם קישור לתמונה שפסקו עליה</p>
    <p>שלב רביעי: פוסקים שוב על יד שליחת סמס חוזר עם פסיקה על התמונה של העד</p>
    <p>שימו לב נא לא להרשם דרך האתר!</p>
    <p></p>
    <p>המעוניינים להרשם יפנו לאביעד משה 0547573120</p>
</div>
{% endblock %}