{% extends "ocr/base.html" %}

{% block content %}
<div class="container">
    <h2>שלום וברוכים הבאים למחקר מראות דרך מסך</h2>
    <p>הבהרה: דעת מכון פוע"ה (כדעת הראש"ל הרב יצחק יוסף) שנכון לעכשיו שאין להשתמש באפילקציות לפסיקה על מראות דרך מסך בגלל השינוי בצבע בין המראה הממשי לבין התמונה במסך (מאמר בנושא זה יתפרסם בע"ה בחוברת הבאה של "אמונת עיתך" 138) - המחקר בא לבדוק האם ניתן למצוא פתרון שיאושר על ידי המכון לבעיה זאת</p>
    <h4>להלן הסבר קצר לגבי המחקר ושלביו</h4>

    <p>שלב ראשון: מצלמים את המראה ומעלים דרך האתר הזה יחד עם פסיקה ראשונית על המראה הפיסי, בתוספת פרטים נוספים על תנאי הצילום של המראה</p>
    <p>הצילום נעשה על גבי רקע לבן (דף מדפסת) במרחק של כ 20 סנטימטר מהעד כאשר הפנס של הפלא' דלוק (צריך לשים לב שאלומת האור אינה על המראה עצמו אלא לצידו), כמו כן כדאי מאוד להניח ליד העד פקק אדום של קוקה קולה לצורך מציאת היחס בין גווני האדום</p>
    <p>שלב שני: יש מס' ימים מוגדר מראש של הפסקה בין הפסיקה הראשונה לבין הפסיקה השניה על התמונה</p>
    <p>שלב שלישי: נשלח סמס עם קישור לתמונה שפסקו עליה</p>
    <p>שלב רביעי: פוסקים שוב על ידי שליחת סמס חוזר עם פסיקה על התמונה של העד</p>
    <p></p>
    <h4>שו"ת בעניין מחקר מראות דרך מסך</h4>
    <p><strong>מה מטרת המחקר?</strong></p>
    <p>מטרת המחקר היא לזהות קורלציה בין נתוני התמונה הדיגיטלית לבין אחוזי הטעות בפסיקה דרך מסך</p>
    <div>הנחת הבסיס שלנו היא שבמראות בעלי צבע ברור ביותר (רק צהוב או אדום בצורה ודאית) לא אמורה להיות טעות בפסיקה דרך מסך. הבעיה היא בגווני צבע הקרובים אחד לשני.
בעזרת המחקר נוכל לאפיין בצורה מדויקת את הטווח הבעייתי, את אחוז הטעות, ולבדוק דרכים לצמצום הטווח הבעייתי בדרכים שונות</div>
    <p><strong>כמה זמן זה דורש ממני?</strong></p>
    <div>התהליך קצר ביותר ולא אמור לקחת יותר מדקות בודדות</div>
    <p><strong>ממתי יהיו תוצאות למחקר?</strong></p>
    <div>אנו שואפים להגיע בשלב הראשון לכ 1000 עדים נשתדל לעדכן על התקדמות המחקר דרך האתר</div>
    <p><strong>איך אני נרשם?</strong></p>
    <div>דרך הרישום של האתר (במקום Email להכניס מס' פלא' שמקבל סמס עם תמונה) ולאחר מכן פונה לאביעד (0547573120) כדי לקבל הרשאה</div>
    <div></div>
    <div></div>
    <p>לשאלות נוספות ניתן לפנות לאביעד משה 0547573120</p>
</div>
{% endblock %}