{% extends "main/base.html" %}
{% load cloudinary %}

{% block content %}
<div class="container">
    <h3>הועלו סה"כ {{number_of_edim_uploaded}} עדים</h3>
    <h3><a href="{% url 'TaharaImageCreateView' %}">פסיקה על עד חדש</a></h3>
    <ul>
        <!-- Iterate over object_list -->
        {% for object in object_list %}
        <!-- Display Objects -->
        <li>{{ object.rabbi_name }}</li>
<!--        <li>{{ object.first_pesak }}</li>-->
        <p>לחץ כדי לראות תמונה גדולה עם אפשרות להגדלה</p>
        <a href="{{ object.image.url }}" target="_blank" class="public_id_link">
            צד א
            <div class='public_id'>{{ object.image.public_id }} - {{ object.title }}</div>
            {% cloudinary object.image THUMBNAIL %}
          </a>
        <a href="{{ object.image2.url }}" target="_blank" class="public_id_link">
            צד ב
            <div class='public_id'>{{ object.image2.public_id }} - {{ object.title }}</div>
            {% cloudinary object.image2 THUMBNAIL %}
          </a>
        <p><a href="{% url 'TaharaImageUpdateView' object.id %}">לפסיקה דרך המסך</a></p>

        <hr/>
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>אין עדים לפסוק עליהם</li>
        {% endfor %}
        {% if additional_explanation %}
        <p>{{additional_explanation}}</p>
        {% endif %}
    </ul>
</div>
{% endblock %}