{% extends "main/base.html" %}
{% load static %}
{% block content %}
<section class="Material-contact-section section-padding section-dark">
  <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">הגעת לדף שאין לך הרשאה אליו נא לחזור ולהרשם שוב עם ההרשאה הנכונה</h1>
              </div>
          </div>

    </div>
</section>
{% endblock %}