<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ycomments</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">בית <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/">איזור אישי</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          מקורות
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for name in indexNames %}
                <a class="dropdown-item" href="/index/{{name.indexNum}}/">{{name.heCat}}</a>
                <div class="dropdown-divider"></div>
          {%endfor%}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">ניהול</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mechkar/">ניהול מחקר (מכון פוע"ה)</a>
      </li>
      {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link">שלום: {{request.user}}</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-secondary" href="{% url 'account_logout' %}" type="button">Logout</a>
    </li>
    {% else %}
      <li class="nav-item">
        <a class="btn btn-primary" href="{% url 'account_signup' %}" type="button">הרשם</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info mr-2" href="{% url 'account_login' %}" type="button">הכנס</a>
      </li>
   {% endif %}


    </ul>
    <form class="form-inline my-2 my-lg-0" action="/search/">
      <input class="form-control mr-sm-2" id="search_word" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" id="search_form" type="submit">חפש</button>
    </form>
  </div>
</nav>