<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%if error%}
    <h2>{{error}}</h2>
{%else%}
    <h2>book: {{book}}</h2>
    <p>chapter number: {{length}}</p>
    {% for num in range %}
    <a href="/api/texts/{{book}}/{{num}}">{{num}}</a>
    {%endfor%}

    <div dir="rtl">
        {% for part in jsonResponse %}
        <p>{{part|safe}}</p>
        {%endfor%}
    </div>
    {% include "ycomment.html" %}
    {% include "add_comment_button.html" %}
{%endif%}
</body>
</html>