{% extends "base.html" %}

{% block content %}
    <div class="d-flex" id="wrapper">
    <!-- search -->
    <div class="bg-light border-right" id="sidebar-search">
      <div class="sidebar-heading">תוצאות חיפוש</div>
      <div id="search_results" class="list-group list-group-flush">

      </div>
    </div>
    <!-- /#sidebar-search -->
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">מפרשים</div>
      <div class="list-group list-group-flush">
        {% for link in links %}
        <a class="list-group-item list-group-item-action bg-light" href="/api/texts/{{link.sourceRef}}?pad=0">{{link.sourceHeRef}}</a>
        {%endfor%}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        {% include "ycomment.html" %}
        {% include "add_comment_button.html" %}

      <div class="container-fluid">
        {%if error%}
            <h2>{{error}}</h2>
        {%else%}
            <h2>book: {{book}}</h2>
            <p>next: <a href="/api/texts/{{next}}?pad=0">{{next}}</a></p><p>prev: <a href="/api/texts/{{prev}}?pad=0">{{prev}}</a></p>
            <p>chapter number: {{length}}</p>
            {% for num in range %}
            <a href="/api/texts/{{book}}.{{num}}">{{num}}</a>
            {%endfor%}

            <div id="text" dir="rtl">
                {% for part in jsonResponse %}
                <div class="text-right">{{part|safe}}</div>
                {%endfor%}
            </div>
            <div id="links">

            </div>

        {%endif%}
        <div id="user_comments" dir="rtl">
            <h3>חידושים והערות</h3>
            {% for comment in user_comments %}
            <div class="text-right">{{comment.user}}</div>
            <div class="text-right">{{comment.updated_at}}</div>
            <div class="text-right">{{comment.comment|safe}}</div>
            {%endfor%}
        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
{% endblock %}
